@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

*{
  text-decoration: none; /*elimina el subrayado en los elementos de las listas*/
  list-style-type: none; /*elimina los puntitos de la lista*/
}

body {
  padding: 20px ,40px,20px,40px;
    font-family: "Raleway", sans-serif;
    background-color: rgb(27, 18, 9);
  }
  
  /*********************ESTILOS HEADER***************/
  .header {
    display: inline-flex;
    flex-direction: row;
  }
  .header div nav ul {
    justify-content:center; /* Espacio igual entre los elementos del header */
    align-items: center; 
    display: flex;
    gap: 80px;
    padding-top: 70px;
    padding-left: 80px;
    flex-wrap: wrap;
  }

  .header div nav ul li{
    list-style-type: none; /*elimina los puntitos de la lista*/
  }
  .header div nav ul li  a{
    color: black;
    font-size: 25px;
    text-decoration: none; /* Elimina el subrayado */
    text-shadow: 
    1px 1px 0 white,   /* 2px a la derecha, 2px hacia abajo, sin difuminado, color blanco */
    -1px -1px 0 white, /* 2px a la izquierda, 2px hacia arriba, sin difuminado, color blanco */
    1px -1px 0 white,  /* 2px a la derecha, 2px hacia arriba, sin difuminado, color blanco */
    -1px 1px 0 white;  /* 2px a la izquierda, 2px hacia abajo, sin difuminado, color blanco */

  }

  .carrito-img img { /*icono de carrito de compras*/
    width: 75px;
  }

  .user-img img{
    width: 50px;
  }

  .logo img { 
    width: 300px;
    padding-left: 100px;

  }

  .carrousel {
    display: flex;
    justify-content:center;
    align-items: center;

  }
  
  /*********CARRUSEL DE IMAGENES PRINCIPAL*************/
  .carrousel img {
    width: 536px; /* Para controlar el ancho de la imagen estática */
  }
  
  .carruselExpress { /* carrusel de imagenes de alfajores*/
    display: flex;
    width: 1000px;
    height: 670px;
  }
  
  .carruselExpress img{
  width: 0;
  flex-grow: 1;
  object-fit: cover;
  opacity: .5;
  transition: 0.8s ease;
  }
  .carruselExpress img:hover{ /*cuando se apoya con el curso encima*/
    cursor: crosshair;
    width: 300px;
    opacity: 1;
    filter: contrast(110%);
    }


    /*******ESTILOS DE SECCION RESEÑAS************/
  .resenas {
    background-color: blue;
  }



  /*******ESTILOS DEL FOOTER************/
  .footer {
    color: rgb(201, 175, 142);
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    align-content: space-between;
    gap: 3em;
  }
  .social_footer ul{
    display: flex;
    gap: 40px;
  }
  .social_footer img {
    width: 50px;
  }

  .contacto_footer img {
    width: 22px;
  }
  .pagos_footer img{
    width: 25px;
  }
footer ul li {
  display: flex; /* Aplica Flexbox para alinear el icono y el texto en línea */
  align-items: center;
  gap: 10px;
  padding: 7px;
}
footer ul li a{
  color: aliceblue;
}
.social_footer ,.contacto_footer , .pagos_footer, .info_footer {
  display: flex; /* Aplica Flexbox para alinear el icono y el texto en línea */
  flex-direction: column;
  align-items: center;
}
small{
  margin-top: auto
}

